spring.application.name=API del Trabajo Practico - Grupo 5
server.error.include-message=always
spring.datasource.url=jdbc:mysql://localhost:3306/api
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.datasource.username={YOUR BD USER HERE}
spring.datasource.password={YOUR BD PASSWORD HERE}
spring.jpa.hibernate.ddl-auto=update